<!DOCTYPE html>

<title>PlayersTeam index</title>

{% block body %}
    <h1>PlayersTeam index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PlayerPosition</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for players_team in players_teams %}
            <tr>
                <td>{{ players_team.id }}</td>
                <td>{{ players_team.playerPosition }}</td>
                <td>{{ players_team.actif ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_players_team_show', {'id': players_team.id}) }}">show</a>
                    <a href="{{ path('app_players_team_edit', {'id': players_team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_players_team_new') }}">Create new</a>
{% endblock %}
