{% extends 'BlueLock/layout.html.twig' %}

{% block title %}
	BlueLock - Nom_Joueur | MangaFoot Stats
{% endblock %}

{% block meta %}
	<meta name="description" content="Statistiques BlueLock">
{% endblock %}

{% block js %}
	<script src={{ asset('js/button.js') }} defer></script>
{% endblock %}

{% block body %}
	<section class="details-container bg-[#001B3D] h-[492px] max-md:h-[550px] flex flex-row items-center justify-center">
		<div class="flex flex-row max-md:flex-col items-center justify-between w-full max-w-[1440px] text-white">
			<div class="max-md:order-2">
				<div class="flex flex-col">
					<h1 class="text-5xl">
						Isagi
						<br>
						Yoichi
					</h1>
					<div class="flex flex-row">
						<a href="/bluelock/equipes/details" class="flex flex-row items-center">
							<div class="w-9 h-12">
								<img class="w-full h-full" src={{ asset("img/japan.png") }} alt="logo du japon">
							</div>
							<p class="text-sm">Japon</p>
						</a>
						<a href="/bluelock/equipes/details" class="flex flex-row items-center ml-4">
							<div class="w-9 h-12">
								<img class="w-full h-full" src={{ asset('img/Munchen.webp') }} alt="logo du bastard munchen">
							</div>
							<p class="text-sm">bastard munchen</p>
						</a>
					</div>
				</div>
			</div>
			<div class="w-96 h-96">
				<img src={{ asset('img/isagi.jpg') }} alt="Wallpaper Isagi Yoichi" class="w-full h-full rounded-2xl">
			</div>
		</div>
	</section>

	<section class="links-container flex flex-col items-center justify-center bg-white">
		<div class="flex flex-col w-full max-w-[1440px] text-black">
			<div class="h-[42px] w-full max-w-[1440px] flex items-center max-sm:text-xs max-sm:h-14 max-sm:flex-wrap">
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="/bluelock/joueurs/details">Accueil</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="/bluelock/joueurs/details/stats">Stats</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="/bluelock/joueurs/details/matchs">Matchs</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="/bluelock/joueurs/details/general">General</a>
			</div>
		</div>
	</section>

	<hr class="h-1 bg-[#D9D9D9]">
	<section class="flex items-center justify-center bg-white">
        <div class="flex flex-col w-full max-w-[1440px] text-black">
			<div class="flex flex-row items-center justify-center p-5 max-lg:flex-col">
                <div class="flex flex-col bg-[#001B3D] text-white rounded-lg p-10 max-lg:order-2">
                    <div class="flex flex-col items-center justify-center">
                        <h1 class="text-3xl">General</h1>
                        <p class="text-3xl">88</p>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <div class="flex flex-row mt-2 items-center">
                            <p class="w-44">Vitesse : 77</p>
                            <p class="text-black bg-white p-2">B</p>
                        </div>
                        <div class="flex flex-row mt-2 items-center">
                            <p class="w-44">Défense : 75</p>
                            <p class="text-black bg-white p-2">B</p>
                        </div>
                        <div class="flex flex-row mt-2 items-center">
                            <p class="w-44">Passe : 78</p>
                            <p class="text-black bg-white p-2">B</p>
                        </div>
                        <div class="flex flex-row mt-2 items-center">
                            <p class="w-44">Dribble : 70</p>
                            <p class="text-black bg-white p-2">B</p>
                        </div>
                        <div class="flex flex-row mt-2 items-center">
                            <p class="w-44">Tir : 82</p>
                            <p class="text-black bg-white p-2">B</p>
                        </div>
                        <div class="flex flex-row mt-2 items-center">
                            <p class="w-44">Attaque : 94</p>
                            <p class="text-black bg-white p-2">B</p>
                        </div>
                    </div>
                </div>
                <div class="w-full h-full max-w-[600px] max-h-[600px] ">
                    <img class="w-full h-full" src={{ asset('img/overall/isagi.png') }} alt="isagi overall">
                </div>
            </div>
		</div>
	</section>
{% endblock %}
