{% extends 'BlueLock/layout.html.twig' %}

{% block title %}
	BlueLock - Nom_Joueur | MangaFoot Stats
{% endblock %}

{% block meta %}
	<meta name="description" content="Statistiques BlueLock">
{% endblock %}

{% block js %}
	<script src={{ asset('js/button.js') }} defer></script>
	<script src={{ asset('js/stats.js') }} defer></script>
{% endblock %}

{% block body %}
	<section class="details-container bg-[#001B3D] h-[492px] max-md:h-[550px] flex flex-row items-center justify-center">
		<div class="flex flex-row max-md:flex-col items-center justify-between w-full max-w-[1440px] text-white">
			<div class="max-md:order-2">
				<div class="flex flex-col">
					<h1 class="text-5xl">
						Isagi
						<br>
						Yoichi
					</h1>
					<div class="flex flex-row">
						<a href="/bluelock/equipes/details" class="flex flex-row items-center">
							<div class="w-9 h-12">
								<img class="w-full h-full" src={{ asset("img/japan.png") }} alt="logo du japon">
							</div>
							<p class="text-sm">Japon</p>
						</a>
						<a href="/bluelock/equipes/details" class="flex flex-row items-center ml-4">
							<div class="w-9 h-12">
								<img class="w-full h-full" src={{ asset('img/Munchen.webp') }} alt="logo du bastard munchen">
							</div>
							<p class="text-sm">bastard munchen</p>
						</a>
					</div>
				</div>
			</div>
			<div class="w-96 h-96">
				<img src={{ asset('img/isagi.jpg') }} alt="Wallpaper Isagi Yoichi" class="w-full h-full rounded-2xl">
			</div>
		</div>
	</section>

	<section class="links-container flex flex-col items-center justify-center bg-white">
		<div class="flex flex-col w-full max-w-[1440px] text-black">
			<div class="h-[42px] w-full max-w-[1440px] flex items-center max-sm:text-xs max-sm:h-14 max-sm:flex-wrap">
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="/bluelock/joueurs/details">Accueil</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="/bluelock/joueurs/details/stats">Stats</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="/bluelock/joueurs/details/matchs">Matchs</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="/bluelock/joueurs/details/general">General</a>
			</div>
		</div>
	</section>

	<hr class="h-1 bg-[#D9D9D9]">

	<section class="links-container flex flex-col items-center justify-center bg-white">
		<div class="flex flex-col w-full max-w-[1440px] text-black mt-5">
			<div class="h-[42px] w-full max-w-[1440px] flex items-center max-sm:text-xs max-sm:h-14 max-sm:mb-5 max-sm:flex-wrap">
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="">First Selection Arc</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="">Second Selection Arc</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="">Third Selection Arc</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="">U-20 Arc</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="">Neo Egoist League Arc</a>
				<a class="p-1 mr-5 hover:bg-blue-700 hover:text-white" href="">All-time</a>
			</div>
		</div>
	</section>

	<hr class="h-1 bg-[#D9D9D9]">

	<section class="infos-container flex flex-col items-center justify-center bg-white">
		<div class="flex flex-col w-full max-w-[1440px] text-black mt-10">
			<div class="m-2 border-2 border-black rounded-md mb-10 ">
				<div class="flex flex-col p-5">
					<div class="flex flex-row justify-between">
						<h1 class="text-[28px] max-md:text-base mb-8">Statistiques clés</h1>
						<button id="stats-cles-plus" class="text-3xl w-9">+</button>
					</div>
					<div id="stats-cles" class="hidden">
						<div class="flex flex-row flex-wrap">
							<div class="flex flex-col w-[230px] max-md:w-44 mb-10">
								<p class="text-5xl">0</p>
								<h2 class="text-xs text-[#AEAEAE]">Matchs joués</h2>
							</div>
							<div class="flex flex-col w-[230px] max-md:w-44 mb-10">
								<p class="text-5xl">0</p>
								<h2 class="text-xs text-[#AEAEAE]">Buts</h2>
							</div>
							<div class="flex flex-col w-[230px] max-md:w-44 mb-10">
								<p class="text-5xl">0</p>
								<h2 class="text-xs text-[#AEAEAE]">Tirs</h2>
							</div>
							<div class="flex flex-col w-[230px] max-md:w-44 mb-10">
								<p class="text-5xl">0</p>
								<h2 class="text-xs text-[#AEAEAE]">Passes décisives</h2>
							</div>
							<div class="flex flex-col w-[230px] max-md:w-44 mb-10">
								<p class="text-5xl">0</p>
								<h2 class="text-xs text-[#AEAEAE]">Precision de passes (%)</h2>
							</div>
							<div class="flex flex-col w-[230px] max-md:w-44 mb-10">
								<p class="text-5xl">0</p>
								<h2 class="text-xs text-[#AEAEAE]">Touches
								</h2>
							</div>
							<div class="flex flex-col w-[230px] max-md:w-44 mb-10">
								<div class="flex flex-row items-center">
									<div class="w-4 h-8 bg-yellow-300"></div>
									<p class="text-5xl">0</p>
								</div>
								<h2 class="text-xs text-[#AEAEAE]">Cartons jaunes</h2>
							</div>
							<div class="flex flex-col w-[230px] max-md:w-44 mb-10">
								<div class="flex flex-row items-center">
									<div class="w-4 h-8 bg-red-500"></div>
									<p class="text-5xl">0</p>
								</div>
								<h2 class="text-xs text-[#AEAEAE]">Cartons rouges</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="m-2 border-2 border-black rounded-md mb-10 ">
				<div class="flex flex-col p-5">
					<div class="flex flex-row justify-between">
						<h1 class="text-[28px] max-md:text-base mb-8">Attaque</h1>
						<button id="stats-attaque-plus" class="text-3xl w-9">+</button>
					</div>
					<div id="stats-attaque" class="hidden">
						<div class="flex flex-row flex-wrap items-center justify-center">
							<div class="flex flex-col w-[230px] max-md:w-44 mb-10">
								<div class="flex flex-col items-center mb-10 h-24 max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:relative max-md:-left-[120px] max-md:border-b-2 max-md:border-[#D9D9D9]">
									<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
									<h2 class="text-xs text-[#AEAEAE]">Buts</h2>
								</div>
								<div class="flex flex-col items-center mb-10 h-24 max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:relative max-md:-left-[120px] max-md:border-b-2 max-md:border-[#D9D9D9]">
									<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
									<h2 class="text-xs text-[#AEAEAE]">Passes décisives</h2>
								</div>
							</div>
							<div class="flex flex-col">
								<div class="flex flex-row items-center relative -top-20 max-md:flex-col max-md:mt-10 max-md:-top-14">
									<div class="border-2 border-black p-1 w-[100px] h-24 flex flex-col items-center justify-center rounded-full mx-32 max-md:relative max-md:-left-40">
										<p class="text-5xl">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Tirs</h2>
									</div>
									<div class="flex flex-col items-center w-[150px] max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
										<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Tirs cadrés</h2>
									</div>
									<div class="flex flex-col items-center w-[150px] max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
										<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Tirs non cadrés</h2>
									</div>
									<div class="flex flex-col items-center w-[150px] max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
										<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Tirs bloqués</h2>
									</div>
								</div>
								<div class="flex flex-row items-center relative -top-8 max-md:flex-col max-md:-top-5">
									<div class="border-2 border-black p-1 w-[100px] h-24 flex flex-col items-center justify-center rounded-full mx-32 max-md:relative max-md:-left-40">
										<p class="text-5xl">0</p>
										<h2 class="text-xs text-[#AEAEAE] relative left-3 -top-1">Précision des dribbles (%)</h2>
									</div>
									<div class="flex flex-col items-center w-[150px] max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
										<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Dribbles tentés</h2>
									</div>
									<div class="flex flex-col items-center w-[150px] max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
										<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Dribbles réussis</h2>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="m-2 border-2 border-black rounded-md mb-10 ">
				<div class="flex flex-col p-5">
					<div class="flex flex-row justify-between">
						<h1 class="text-[28px] max-md:text-base mb-8">Distribution</h1>
						<button id="stats-distribution-plus" class="text-3xl w-9">+</button>
					</div>
					<div id="stats-distribution" class="hidden">
						<div class="flex flex-row flex-wrap items-center justify-center max-md:flex-col">
							<div class="flex flex-col">
								<div class="flex flex-row items-center relative -top-14 max-md:flex-col max-md:-top-0">
									<div class="border-2 border-black p-1 w-[100px] h-24 flex flex-col items-center justify-center rounded-full max-md:relative max-md:-left-40">
										<p class="text-5xl">0</p>
										<h2 class="text-xs text-[#AEAEAE] relative left-3 -top-1">Précision des passes (%)</h2>
									</div>
									<div class="flex flex-col items-center w-[150px] ml-32 max-md:ml-0 max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
										<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Passes tentés</h2>
									</div>
									<div class="flex flex-col items-center w-[150px] mr-32 max-md:mr-0 max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
										<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Passes réussis</h2>
									</div>
								</div>
								<div class="flex flex-row items-center relative -top-5 max-md:flex-col max-md:-top-0 max-md:mt-10">
									<div class="border-2 border-black p-1 w-[100px] h-24 flex flex-col items-center justify-center rounded-full max-md:relative max-md:-left-40">
										<p class="text-5xl">0</p>
										<h2 class="text-xs text-[#AEAEAE] relative left-3 -top-1">Précision des centres (%)</h2>
									</div>
									<div class="flex flex-col items-center w-[150px] ml-32 max-md:ml-0 max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
										<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Centres tentés</h2>
									</div>
									<div class="flex flex-col items-center w-[150px] mr-32 max-md:mr-0 max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
										<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Centres réussis</h2>
									</div>
								</div>
							</div>
							<div class="flex flex-col w-[230px] max-md:w-44 mb-10">
								<div class="flex flex-col items-center mb-10 h-24 max-md:flex-row max-md:mt-10 max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9] max-md:relative max-md:-left-[117px]">
									<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
									<h2 class="text-xs text-[#AEAEAE]">Touches</h2>
								</div>
								<div class="flex flex-col items-center h-24 max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9] max-md:relative max-md:-left-[117px]">
									<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
									<h2 class="text-xs text-[#AEAEAE]">Perte de balle</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="m-2 border-2 border-black rounded-md mb-10 ">
				<div class="flex flex-col p-5">
					<div class="flex flex-row justify-between">
						<h1 class="text-[28px] max-md:text-base mb-8">Défense</h1>
						<button id="stats-defense-plus" class="text-3xl w-9">+</button>
					</div>
					<div id="stats-defense" class="hidden">
						<div class="flex flex-row flex-wrap items-center justify-center">
							<div class="flex flex-col">
								<div class="flex flex-row items-center max-md:flex-col">
									<div class="border-2 border-black p-1 w-[100px] h-24 flex flex-col items-center justify-center rounded-full mr-10 max-md:relative max-md:-left-36">
										<p class="text-5xl">0</p>
										<h2 class="text-xs text-[#AEAEAE] relative left-3 -top-1">Précision des tacles (%)</h2>
									</div>
									<div class="flex flex-row relative left-20 items-center max-md:flex-col max-md:left-0">
										<div class="flex flex-col items-center w-[150px] max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
											<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
											<h2 class="text-xs text-[#AEAEAE]">Tacles tentés</h2>
										</div>
										<div class="flex flex-col items-center w-[150px] max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
											<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
											<h2 class="text-xs text-[#AEAEAE]">Tacles réussis</h2>
										</div>
										<div class="flex flex-col items-center w-[150px] max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
											<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
											<h2 class="text-xs text-[#AEAEAE]">Dégagements</h2>
										</div>
										<div class="flex flex-col items-center w-[150px] max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
											<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
											<h2 class="text-xs text-[#AEAEAE]">Interceptions</h2>
										</div>
										<div class="flex flex-col items-center w-[150px] max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
											<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
											<h2 class="text-xs text-[#AEAEAE]">Dribbles subis</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="m-2 border-2 border-black rounded-md mb-10 ">
				<div class="flex flex-col p-5">
					<div class="flex flex-row justify-between">
						<h1 class="text-[28px] max-md:text-base mb-8">Discipline</h1>
						<button id="stats-discipline-plus" class="text-3xl w-9">+</button>
					</div>
					<div id="stats-discipline" class="hidden">
						<div class="flex flex-row flex-wrap items-center justify-center">
							<div class="flex flex-col">
								<div class="flex flex-row items-center max-md:flex-col">
									<div class="flex flex-col items-center w-[150px] max-md:order-2 max-md:flex-row max-md:mb-0 max-md:h-10 max-md:justify-between max-md:w-[410px] max-md:border-b-2 max-md:border-[#D9D9D9]">
										<p class="text-5xl max-md:text-2xl max-md:order-2">0</p>
										<h2 class="text-xs text-[#AEAEAE]">Fautes</h2>
									</div>
									<div class="flex flex-row">
										<div class="flex flex-col items-center w-[150px]">
											<div class="flex flex-row items-center">
												<div class="w-4 h-8 bg-yellow-300"></div>
												<p class="text-5xl">0</p>
											</div>
											<h2 class="text-xs text-[#AEAEAE]">Cartons jaunes</h2>
										</div>
										<div class="flex flex-col items-center w-[150px]">
											<div class="flex flex-row items-center">
												<div class="w-4 h-8 bg-red-600"></div>
												<p class="text-5xl">0</p>
											</div>
											<h2 class="text-xs text-[#AEAEAE]">Cartons rouges</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
 