<!DOCTYPE html>

<title>Arcs index</title>

{% block body %}
    <h1>Arcs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arc in arcs %}
            <tr>
                <td>{{ arc.id }}</td>
                <td>{{ arc.name }}</td>
                <td>
                    <a href="{{ path('app_arcs_show', {'id': arc.id}) }}">show</a>
                    <a href="{{ path('app_arcs_edit', {'id': arc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_arcs_new') }}">Create new</a>
{% endblock %}
